PORT=8080
APP_NAME=stationsbord
APP_VERSION=0.7.0
APP_WEBSITE=https://example.invalid
APP_EMAIL=hello@example.invalid
PUBLIC_BASE_URL=https://stationsbord.fly.dev

IRAIL_BASE_URL=https://api.irail.be

